@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(waves.css);
@import url(owl.carousel.min.css);
@import url(feather.min.css);
@import url(swiper.min.css);
@import url(rSlider.min.css);
@import url(select-custom.css);
@import url(select2.min.css);
@import url(datepicker-b4.min.css);
/* colors */
/* End of colors */
/* default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
  font-family: 'Muli', sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  background-color: #ffffff;
  display: block;
  height: 100%;
}

.wrapper .btn.focus, .wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 1200px;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* End of default css */
/*  general css */
.white-color {
  fill: #ffffff;
}

.top-minues10 {
  margin-top: -10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.pt-3 {
  padding-top: 3px !important;
}

.p0 {
  padding: 0px !important;
}

.m0 {
  margin: 0 !important;
}

.mr-10 {
  margin-right: 10px;
}

.mr-6 {
  margin-right: 6px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-40 {
  padding-right: 40px;
}

.border-right1 {
  border-right: 1px solid rgba(31, 32, 39, 0.1);
  padding-right: 6px;
}

.width-100 {
  width: 100%;
}

.pl-60 {
  padding-left: 45px !important;
}

.pr-60 {
  padding-right: 45px !important;
}

/* btn  **/
button:hover, button:focus, button:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

a {
  color: #5AB9E9;
}

a:hover {
  color: #789ac1;
}

.btn.btn-blue {
  padding: 0 30px;
  margin: 0;
  border: 1px solid #5AB9E9;
  background-color: #5AB9E9;
  color: #ffffff;
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  font-size: 16px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn.btn-blue:hover, .btn.btn-blue:focus, .btn.btn-blue:active {
  border: 1px solid #5AB9E9;
  background-color: #5AB9E9;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);
          box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);
}

.btn-search {
  position: absolute;
  top: 0;
  right: 0;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 39, 0.1);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 0px 4px 4px 0px;
  min-height: 50px;
  width: 50px;
  font-size: 20px;
}

.btn-search:hover, .btn-search:focus, .btn-search:active {
  background-color: #fafafa;
}

.btn.btn-primary {
  background: #5AB9E9;
  border: 1px solid #5AB9E9;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  min-height: 50px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 30px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-primary.btn-primary-arrow {
  color: #fff;
}

.btn.btn-primary.btn-primary-arrow .fe.fe-arrow-right {
  padding: 0 0 0 15px;
  font-size: 20px;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
  background: #77BB43;
  border: 1px solid #77BB43;
  color: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn.btn-primary:hover.btn-primary-arrow, .btn.btn-primary:focus.btn-primary-arrow, .btn.btn-primary:active.btn-primary-arrow {
  color: #fff;
}

.btn.btn-primary:hover.btn-primary-arrow .fe.fe-arrow-right, .btn.btn-primary:focus.btn-primary-arrow .fe.fe-arrow-right, .btn.btn-primary:active.btn-primary-arrow .fe.fe-arrow-right {
  color: #fff;
}

.btn.btn-white {
  background: #F6F8F9;
  border: 1px solid #1F2027;
  -webkit-box-shadow: 0 5px 14px 0 rgba(31, 32, 39, 0.14);
          box-shadow: 0 5px 14px 0 rgba(31, 32, 39, 0.14);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  min-height: 50px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #1F2027;
  font-weight: 400;
}

.btn.btn-white.btn-white-arrow {
  color: #1F2027;
}

.btn.btn-white.btn-white-arrow .fe.fe-arrow-right {
  padding: 0 0 0 15px;
  font-size: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
  background: #5AB9E9;
  border: 1px solid #5AB9E9;
  color: #fff;
}

.btn.btn-white:hover.btn-white-arrow, .btn.btn-white:focus.btn-white-arrow, .btn.btn-white:active.btn-white-arrow {
  color: #fff;
}

.btn.btn-white:hover.btn-white-arrow .fe.fe-arrow-right, .btn.btn-white:focus.btn-white-arrow .fe.fe-arrow-right, .btn.btn-white:active.btn-white-arrow .fe.fe-arrow-right {
  color: #fff;
}

.btn.btn-message {
  background: #5AB9E9;
  border: 1px solid #5AB9E9;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  min-height: 50px;
  color: #0B162B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 30px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  min-width: 230px;
}

.btn.btn-message:hover, .btn.btn-message:focus, .btn.btn-message:active {
  background: #77BB43;
  border: 1px solid #77BB43;
  color: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn.btn-icon {
  color: #E4E4E4;
  background-color: #fff;
  border-left: 1px solid #E4E4E4;
  min-height: 50px;
  min-width: 50px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0px;
}

/* End of btn  **/
.max3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.return-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #5AB9E9;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

.return-to-top i {
  color: #ffffff;
  margin: 0;
  position: relative;
  left: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: initial;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.return-to-top:hover {
  background: #5AB9E9;
}

.return-to-top:hover i {
  color: #ffffff;
}

.display_show {
  display: block;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

#more-disc {
  display: none;
}

.heading-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.heading-div h2 {
  padding: 0;
  margin: 0 0 20px 0;
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: #1F2027;
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading-div h2:before {
  content: "";
  position: absolute;
  background-color: #5AB9E9;
  height: 2px;
  width: 60px;
  bottom: -6px;
  left: auto;
  margin: 0 auto;
}

.heading-div h2 span {
  display: block;
}

.heading-div p {
  padding: 0;
  margin: 0 0 0px 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(215, 236, 249, 0.5);
}

/* select box */
.select-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control.select-control {
  border: 1px solid #DFEAF1;
  border-radius: 0px;
  min-height: 50px;
  color: rgba(215, 236, 249, 0.5);
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #FAFCFD;
  position: relative;
}

.form-control.select-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.updown-arrowicon {
  -webkit-mask: url(../images/icons/arrow-up-down.svg) no-repeat 50% 50%;
  mask: url(../images/icons/arrow-up-down.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 24px;
  height: 40px;
  color: rgba(0, 0, 0, 0.4);
  fill: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 10px 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  right: 0;
}

.right-arrowicon {
  -webkit-mask: url(../images/icons/arrow_forward-24px.svg) no-repeat 50% 50%;
  mask: url(../images/icons/arrow_forward-24px.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 21px;
  height: 18px;
  color: #5AB9E9;
  fill: #5AB9E9;
  background-color: #5AB9E9;
  margin: 0 0 0 10px;
}

.down-arrowicon {
  content: "";
  -webkit-mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%;
  mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  vertical-align: middle;
  mask-size: cover;
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: #5AB9E9;
  position: absolute;
  right: 10px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.select2-container--open {
  z-index: 9999;
}

/* End of select box */
/* select2 */
.select-custom2 span.select2-selection.select2-selection--single {
  border: 1px solid #DFEAF1 !important;
  border-radius: 0px;
  min-height: 50px;
  color: #3C454C;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #FAFCFD;
  position: relative;
  margin: 0;
}

.select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 47px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  top: 15px;
  left: 10px;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: "";
  -webkit-mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%;
  mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  vertical-align: middle;
  mask-size: cover;
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: black;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #DFEAF1;
  border-bottom: none;
  padding: 10px 10px;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #DFEAF1;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #5AB9E9;
}

.select2-results__option {
  padding: 10px;
}

.select2-container .select2-dropdown {
  min-width: 160px;
  margin-top: 0;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 182px;
  overflow-y: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: rgba(31, 32, 39, 0.22) transparent transparent transparent;
  width: 0;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
  line-height: 24px;
  padding-right: 30px;
  color: #1F2027;
  max-width: 130px;
}

/**/
.select-custom1 {
  border-right: 0px solid #ddd !important;
  border-radius: 4px;
}

.select-custom1:after {
  content: "";
  background-color: #ddd;
  width: 1px;
  height: 24px;
}

.select-custom1 span.select2-selection.select2-selection--single {
  border: none !important;
  border-radius: 0px;
  min-height: 48px;
  color: #3C454C;
  padding: 12px 10px;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  background: #fff;
  position: relative;
  margin: 0;
  border-radius: 4px;
}

.select-custom1 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 22px;
  width: 30px;
  background-color: transparent;
  border: none;
  top: 14px;
}

/* end of select2 */
/* form group */
/* End of form group */
/*  End of general css */
/* header */
header {
  position: relative;
}

header .header-div.scrollUp {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  background-color: #ffffff;
}

header .fixed_top.header-div .top-nav1 {
  padding: 10px 0 20px 0;
}

header .fixed_top.header-div .ullist-inline li .nav-link {
  color: #1F2027;
}

header .fixed_top.header-div .scroll-logo {
  display: block;
}

header .header-div.header-bgcolor {
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  min-height: 75px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  left: 0;
}

header .header-div.header-bgcolor .ullist-inline li .nav-link {
  color: #1F2027;
}

header .header-div.header-bgcolor .ullist-inline li .nav-link:hover {
  color: #1F2027;
}

header .header-div.header-bgcolor .ullist-inline li.active .nav-link {
  color: #1F2027;
}

header .header-div {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  position: relative;
  z-index: 9999;
  width: 100%;
  min-height: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* start navigation  **/
  /*  End of navigation  */
}

header .header-div .logo-div {
  padding: 0px 0px 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: auto;
}

header .header-div .nav-center-div {
  padding: 0px 0px 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-div .main-logo {
  display: block;
}

header .header-div .logo_img {
  -webkit-transition: display ease-in-out 0.5s;
  transition: display ease-in-out 0.5s;
  width: 170px;
}

header .header-div .full-navigation {
  background: #ffffff;
  border-top: 1px solid rgba(31, 32, 39, 0.2);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}

header .header-div .top-nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 0 0;
  width: 100%;
}

header .header-div .inner-top-header-div {
  padding: 0;
  margin: 0;
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-div .inner-top-header-div.top-nav1 {
  padding: 0;
  margin: 0;
  float: right;
}

header .header-div .cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(92, 92, 92, 0.2);
  cursor: pointer;
  z-index: 99999;
  display: none;
}

header .header-div .cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

header .header-div .display-none {
  display: none !important;
}

header .header-div .nav-div {
  width: 100%;
}

header .header-div .nav-div .closebtn {
  display: none;
}

header .header-div .ullist-inline {
  padding: 0 0 0px 0;
  margin: 0px 0px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-div .ullist-inline li {
  padding: 0;
  margin: 0 10px 0 0;
  text-transform: capitalize;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-div .ullist-inline li.nav-item.dropdown.btn-user-dropdown {
  margin: 0;
}

header .header-div .ullist-inline li:last-child {
  margin: 0 0 0 0;
}

header .header-div .ullist-inline li .nav-link {
  color: #1F2027;
  padding: 10px 10px 8px 10px;
  margin: 0 0px;
  font-weight: 400;
  border-bottom: 0px solid transparent;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
}

header .header-div .ullist-inline li .nav-link:before {
  left: 0px;
  bottom: 0;
  width: calc(100% - 20px);
  height: 1.5px;
  background: #5AB9E9;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

header .header-div .ullist-inline li .nav-link:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  left: 10px;
}

header .header-div .ullist-inline li .nav-link:before, header .header-div .ullist-inline li .nav-link:after, header .header-div .ullist-inline li .nav-link > span:before, header .header-div .ullist-inline li .nav-link > span:after {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header .header-div .ullist-inline li .nav-link:hover {
  color: #5AB9E9;
  background-color: rgba(90, 185, 233, 0.21);
}

header .header-div .ullist-inline li.active .nav-link {
  color: #1F2027;
}

header .header-div .ullist-inline li.active .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: #5AB9E9;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header .header-div .ullist-inline .dropdown-toggle::after {
  display: none;
}

header .header-div .ullist-inline .dropdown-menu {
  border: 1px solid #DFEAF1;
  min-width: 210px;
  border-radius: 0px;
}

header .header-div .ullist-inline .dropdown-menu li {
  display: block;
  width: 100%;
}

header .header-div .ullist-inline .dropdown-menu li a {
  padding: 6px 15px;
  width: 100%;
  display: block;
  margin: 0 0 5px 0;
  color: rgba(11, 22, 43, 0.5);
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-div .ullist-inline .dropdown-menu li a:hover {
  background-color: #F2F7F9;
  color: #0B162B;
}

header .header-div .ullist-inline .btn.btn-gradiant2.btn-mycart {
  padding: 5px 10px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
}

header .header-div .ullist-inline .btn.btn-gradiant2.btn-mycart span.count-span {
  background-color: #003E89;
  margin: 0 0 0 10px;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  letter-spacing: -1px;
}

header .header-div .nav-m-bar .menu-bars {
  display: none;
}

.header-center-div .drop-down {
  background: #FFFFFF;
  border: 0 solid rgba(31, 32, 39, 0.2);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header-right-div {
  padding: 0px 0px 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

.header-right-div .row {
  width: 100%;
}

.category-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(31, 32, 39, 0.1);
  min-height: 50px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}

.category-div .input-box {
  width: 100%;
}

.category-div .form-control2 {
  margin: 0;
  border: none;
  padding-right: 50px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.category-div .form-control2::-webkit-input-placeholder {
  color: rgba(31, 32, 39, 0.3);
}

.category-div .form-control2::-moz-placeholder {
  color: rgba(31, 32, 39, 0.3);
}

.category-div .form-control2:-ms-input-placeholder {
  color: rgba(31, 32, 39, 0.3);
}

.category-div .form-control2:-moz-placeholder {
  color: rgba(31, 32, 39, 0.3);
}

.category-div .form-control2:hover {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user-details-div {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 50px;
}

.user-details-div .shopping-cart-image {
  padding: 0;
  margin: 0;
  height: 36px;
  width: 36px;
  overflow: hidden;
}

.dropdown-menu {
  border-radius: 0 0 0px 0px;
  right: 0;
  margin-top: 0px;
  left: auto !important;
  min-width: 200px;
  padding: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid #F2F2F2;
}

.dropdown-menu:before {
  content: "";
  border-top: 5px solid #ffffff00;
  border-right: 5px solid #ddd0;
  border-bottom: 5px solid #ddd;
  border-left: 5px solid #ffffff00;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: 14px;
}

.dropdown-menu a.dropdown-item {
  font-weight: 500;
  padding: 10px 15px;
  font-size: 14px;
  color: #151717;
  letter-spacing: 0;
  line-height: 24px;
  border-bottom: 1px solid #eee;
}

.dropdown-menu a.dropdown-item:hover, .dropdown-menu a.dropdown-item:focus, .dropdown-menu a.dropdown-item:active {
  color: #5AB9E9;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-menu a.dropdown-item.active {
  color: #5AB9E9;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-menu ul li a {
  text-align: left;
  display: block;
}

.dropdown-menu ul li.logout-li a {
  background: #FDFDFD;
  -webkit-box-shadow: 0 -1px 0 0 #F2F2F2;
          box-shadow: 0 -1px 0 0 #F2F2F2;
  min-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-menu li.logout-li {
  margin: 10px 0 0 0;
}

.dropdown-menu .logout-icon {
  padding: 0 0 0 2px;
  margin: 0px 10px 0 0;
  height: 30px;
  width: 30px;
  background-color: #F2F2F2;
  color: #333535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  font-size: 16px;
}

.dropdown-menu hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(203, 203, 203, 0.6);
  padding: 0;
  margin: 10px 0px 0px 0px;
}

.dropdown-custom-top .btn.dropdown-toggle {
  position: relative;
  padding: 0;
  padding-right: 20px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.dropdown-custom-top .btn.dropdown-toggle::after {
  border-top: 4px solid #5AB9E9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  position: absolute;
  right: 15px;
  top: 24px;
  -webkit-transition: 0.8 all;
  transition: 0.8 all;
}

.dropdown-custom-top .btn.dropdown-toggle::before {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  color: #D8D8D8;
  font-size: 24px;
}

.dropdown-custom-top .btn.dropdown-toggle .user-profile {
  padding: 0 0 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info {
  padding: 0 12px 0 12px;
  text-align: left;
  min-width: 80px;
}

.dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info h3 {
  font-weight: 700;
  margin: 0 0 0px 0;
  font-size: 16px;
  line-height: 20px;
  color: #5AB9E9;
  letter-spacing: 0;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: 0.8 all;
  transition: 0.8 all;
}

.dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info p {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #1F2027;
}

.dropdown-custom-top .btn.dropdown-toggle .user-profile .user-img {
  margin: 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-custom-top .btn.dropdown-toggle .user-profile .user-img .user-top-image {
  padding: 0;
  margin: 0;
  border-radius: 100px;
  height: 36px;
  width: 36px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.dropdown-custom-top .btn.dropdown-toggle:hover .user-profile .user-info h3, .dropdown-custom-top .btn.dropdown-toggle:focus .user-profile .user-info h3, .dropdown-custom-top .btn.dropdown-toggle:active .user-profile .user-info h3 {
  color: #77BB43;
}

.dropdown-custom-top .btn.dropdown-toggle:hover::after, .dropdown-custom-top .btn.dropdown-toggle:focus::after, .dropdown-custom-top .btn.dropdown-toggle:active::after {
  border-top: 4px solid #77BB43;
}

/* End of header */
/* banner */
.banner-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.banner-section .banner-div {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #EAEFF2;
  background: url(../images/background-shape.svg) no-repeat;
  background-size: cover;
}

.img-slider-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-slider-container .banner-slider-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 550px;
}

.img-slider-container .banner-slider-root .row {
  width: 100%;
}

.img-slider-container .banner-slider-item {
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-slider-container .banner-slider-item .banner-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 375px;
  max-height: 375px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 6px 34px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 34px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.img-slider-container .content-banner {
  padding: 30px 30px 30px 50px;
  margin: 0 0 0 0;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: left;
}

.img-slider-container .content-banner h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 300;
  font-size: 32px;
  color: #0B162B;
  letter-spacing: 0;
  width: 100%;
}

.img-slider-container .content-banner h3 {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 32px;
  color: #0B162B;
  letter-spacing: 0;
  width: 100%;
}

.img-slider-container .content-banner .btn-row {
  padding: 30px 0 20px 0;
  width: 100%;
}

.img-slider-container .owl-carousel-slider .owl-dots {
  text-align: center;
  margin: 0px 0 0px 0;
  position: absolute;
  bottom: 40px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc( 41.666667% - 0px);
}

.img-slider-container .owl-carousel-slider .owl-dot span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgba(90, 185, 233, 0.3);
  border: 0px solid #789ac1;
  border-radius: 100px;
  margin: 0 5px;
}

.img-slider-container .owl-carousel-slider .owl-dot.active span {
  background-color: #5ab9e9;
}

.img-slider-container .owl-carousel-slider .owl-nav button {
  background: #0B162B !important;
  border: 1px solid rgba(255, 255, 255, 0.22) !important;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  height: 38px;
  width: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  color: #fff !important;
  font-size: 18px !important;
  padding: 9px 5px !important;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.img-slider-container .owl-carousel-slider .owl-nav button:hover, .img-slider-container .owl-carousel-slider .owl-nav button:focus, .img-slider-container .owl-carousel-slider .owl-nav button:active {
  background: rgba(11, 22, 43, 0.8) !important;
}

.img-slider-container .owl-carousel-slider .owl-nav .owl-prev {
  position: absolute;
  left: -50px;
  top: 50%;
}

.img-slider-container .owl-carousel-slider .owl-nav .owl-next {
  position: absolute;
  right: -50px;
  top: 50%;
}

/* datepicker */
.datepickercustom .date-picker {
  border: 1px solid #DFEAF1 !important;
  border-radius: 0px;
  min-height: 50px;
  color: #3C454C;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #FAFCFD;
  position: relative;
}

.datepickercustom .date-picker:disabled {
  opacity: 1;
}

.datepickercustom .date-picker::-webkit-input-placeholder {
  color: #3C454C;
}

.datepickercustom .date-picker::-moz-placeholder {
  color: #3C454C;
}

.datepickercustom .date-picker:-ms-input-placeholder {
  color: #3C454C;
}

.datepickercustom .date-picker:-moz-placeholder {
  color: #3C454C;
}

.gj-picker div[role=navigator] div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

td.today.gj-cursor-pointer {
  background: #0089E8;
  color: #fff;
  border-radius: 100%;
}

.gj-picker-md table tr td.today:hover div, .gj-picker-md table tr td.today:focus div {
  background: #0097FF !important;
  color: #fff;
  border-radius: 100%;
}

.gj-picker-md table tr td.today div {
  color: #fff !important;
}

.gj-datepicker-md [role=right-icon] {
  display: none;
}

/* End of datepicker */
/* End of banner */
/* inner-section */
.main-middle-area {
  background-color: #F6F8F9;
}

.view-offers-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.view-offers-section .view-offers-div {
  padding: 50px 0;
}

.view-offers-section .view-offers-div .border-right01:nth-child(odd) {
  border-right: 1px solid rgba(31, 32, 39, 0.1);
}

.offers-card-box {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers-card-box .offers-div {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.offers-card-box .img-round-thumb {
  padding: 0;
  margin: 0;
  width: 200px;
}

.offers-card-box .offers-content-div {
  padding: 0 0 0 30px;
  margin: 0;
  width: calc(100% - 200px);
}

.offers-card-box h3 {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;
  color: #1F2027;
  text-decoration: underline;
}

.offers-card-box h2 {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;
  color: #5AB9E9;
}

.offers-card-box h4 {
  padding: 11px 0 5px 0;
  margin: 0 0 5px 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #5AB9E9;
  min-height: 89px;
}

.offers-card-box p {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #1F2027;
}

.offers-card-box .icons-img {
  width: 100%;
}

.offers-card-box .btn-row {
  padding: 15px 0 0 0;
  margin: 0px 0 5px 0;
}

.products-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.products-section .products-div {
  padding: 80px 0;
}

.products-section .products-div .heading-div {
  margin: 0 0 55px 0;
}

.nav-scroll-container .ui-scroll-tabs-header .stNavMain button {
  height: 54px;
  width: 45px;
  min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border: 1px solid #E4E4E4;
  color: #1F2027;
  cursor: pointer;
}

.nav-scroll-container .ui-tabs-active .nav-link {
  color: #5AB9E9;
  border-color: #5AB9E9;
}

.products-container {
  /**/
}

.products-container .nav.nav-tabs {
  margin: 0 0 40px 0;
  white-space: nowrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.products-container .nav.nav-tabs .nav-link {
  font-weight: 700;
  font-size: 15px;
  color: #4D4D4D;
  letter-spacing: 0;
  min-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-radius: 0px;
  background-color: #fff;
  border: 1px solid #E4E4E4;
  text-transform: uppercase;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.products-container .nav.nav-tabs .nav-link:hover, .products-container .nav.nav-tabs .nav-link:active {
  color: #5AB9E9;
  border-color: #5AB9E9;
}

.products-container .nav.nav-tabs .nav-link.ui-state-active {
  color: #5AB9E9;
  border-color: #5AB9E9;
}

.products-container .tab-content > .tab-pane {
  padding: 0;
}

.product-card {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.product-card .product-thumb {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-card .product-thumb .product-img {
  width: 100%;
  height: 225px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-card .product-thumb:before {
  content: "";
  border-bottom: 1px solid #E4E4E4;
  position: absolute;
  bottom: 0;
  width: 70%;
}

.product-card .product-content {
  padding: 15px;
  margin: 0;
}

.product-card h3 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #1F2027;
  line-height: 22px;
  font-style: italic;
  font-weight: 700;
}

.product-card p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #1F2027;
  letter-spacing: -0.13px;
  line-height: 28px;
  font-weight: 400;
}

.product-card .span-number {
  font-weight: 400;
}

.product-card .product-bottom {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #E4E4E4;
}

.product-card .product-bottom .left-bottom {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card .product-bottom .left-bottom a {
  font-weight: 700;
  font-size: 16px;
  color: #1F2027;
  line-height: 24px;
  padding: 5px 15px;
  text-decoration: underline;
}

.product-card .product-bottom .left-bottom a:hover, .product-card .product-bottom .left-bottom a:focus, .product-card .product-bottom .left-bottom a:active {
  color: #5AB9E9;
}

.product-card .product-bottom .right-bottom {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card:hover, .product-card:focus {
  border: 1px solid rgba(228, 228, 228, 0.5);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.services-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.services-section .services-div {
  padding: 0;
  border-top: 1px solid #E4E4E4;
}

.services-section .services-div .services-card {
  padding: 20px 20px 30px 20px;
  margin: 0;
  display: block;
  text-align: center;
}

.services-section .services-div .services-card .img-icon {
  height: 90px;
  width: 90px;
  padding: 20px 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.services-section .services-div .services-card h4 {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 700;
  font-size: 22px;
  color: #4D4D4D;
  letter-spacing: 0;
  text-align: center;
}

.services-section .services-div .services-card p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #4D4D4D;
  letter-spacing: 0;
  text-align: center;
}

.services-section .services-div .services-card .btn-link {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #5AB9E9;
  text-decoration: underline;
  letter-spacing: 0;
  text-align: center;
  border: none;
}

.services-section .services-div .services-card .btn-link:hover, .services-section .services-div .services-card .btn-link:focus, .services-section .services-div .services-card .btn-link:active {
  color: #77BB43;
}

.services-section .services-div .card3-border .services-card:before {
  content: "";
  border-right: 1px solid rgba(31, 32, 39, 0.1);
  position: absolute;
  right: 0;
  top: 45px;
  height: 100px;
}

.services-section .services-div .card3-border:last-child .services-card:before {
  border: none;
}

.about-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.about-section .about-div {
  padding: 100px 0;
  margin: 0;
  position: relative;
  background: #0B162B url(../images/black-about.svg) no-repeat;
  background-size: cover;
}

.about-section .about-div .about-content-div {
  text-align: center;
}

.about-section .about-div .about-content-div h2 {
  padding: 0;
  margin: 0 0 25px 0;
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

.about-section .about-div .about-content-div p {
  padding: 0;
  margin: 0 0 25px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.65);
  letter-spacing: 0;
  text-align: center;
}

.about-section .about-div .about-content-div .text-underline {
  padding: 0;
  margin: 0 0 25px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0;
  text-align: center;
  text-decoration: underline;
}

.about-section .about-div .about-content-div .btn-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 50px 0 0px 0;
}

.about-section .about-div .about-thumb {
  padding: 0;
  margin: 0;
}

/* End of inner-section */
footer .footer-root {
  padding: 0;
  margin: 0;
}

footer .footer-root .footer-div {
  padding: 60px 0 20px 0;
  margin: 0;
  position: relative;
}

footer .footer-root .footer-div .logo-footer {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-root .footer-div p {
  font-weight: 400;
  font-size: 20px;
  color: #4D4D4D;
  line-height: 32px;
}

footer .footer-root .footer-div .footer-div-row {
  padding: 0px 0 0px 0;
  margin: 0 0 30px 0;
}

footer .footer-root .footer-div .contact-link-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-root .footer-div .contact-link-row .link-footer {
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-root .footer-div .contact-link-row .link-footer .material-icons {
  line-height: 32px;
  margin: 0 12px 0 0;
}

footer .footer-root .footer-div ul.footer-ul {
  list-style: none outside;
}

footer .footer-root .footer-div .link-footer {
  font-weight: 400;
  font-size: 20px;
  color: #4D4D4D;
  line-height: 32px;
}

footer .footer-root .footer-div .link-footer:hover {
  color: #5AB9E9;
}

footer .footer-root .footer-div .footer-list-root {
  padding: 0 0;
  margin: 30px 0 30px 0;
}

footer .footer-root .footer-div .footer-list-root h5 {
  padding: 0 0;
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  line-height: 38px;
}

footer .footer-root .footer-div .footer-list-root ul.footer-ul li {
  padding: 0 0 0 0;
  margin: 0 0 8px 0;
}

footer .footer-root .footer-div .footer-list-root .list-row {
  margin: 0 0 20px 0;
}

footer .footer-root .footer-bottom {
  border-top: 1px solid rgba(215, 236, 249, 0.5);
  min-height: 80px;
}

footer .footer-root .footer-bottom p {
  font-weight: 400;
  font-size: 20px;
  color: #4D4D4D;
  line-height: 32px;
}

footer .footer-root .footer-bottom ul.footer-social-ul {
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer-root .footer-bottom ul.footer-social-ul li {
  display: inline-block;
  padding: 0 20px 0 0;
}

footer .footer-root .footer-bottom ul.footer-social-ul li a {
  padding: 0 0;
  margin: 0 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-root .footer-bottom ul.footer-social-ul li a .card-icon {
  width: 70px;
  background-color: #fff;
  border-radius: 3px;
}

footer .footer-root .footer-bottom ul.footer-social-ul li a:hover {
  color: rgba(255, 255, 255, 0.6);
}

/* end of home page */
/*  custom-table-div */
/* End of custom-table-div */
@media (min-width: 1025px) {
  header .header-div .ullist-inline .dropdown-menu {
    margin: 35px 0 0 0px;
    left: auto !important;
    right: 0;
  }
  header .header-div .ullist-inline .dropdown-menu:before {
    content: "";
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
    display: inline-block;
    position: absolute;
    top: -19px;
    right: -1px;
  }
  header .header-div .ullist-inline .btn-user-dropdown .dropdown-menu {
    border: none;
  }
  header .header-div .ullist-inline .btn-user-dropdown .dropdown-menu::before {
    top: -19px;
    right: 0px;
  }
  header .header-div .ullist-inline .btn-user-dropdown .dropdown-menu ul {
    margin-right: 1px;
  }
  .header-div.header-bgcolor {
    min-height: auto !important;
  }
  .header-div.header-bgcolor .inner-top-header-div {
    display: none !important;
  }
  .header-div.header-bgcolor .full-navigation {
    -webkit-box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.05);
  }
  .header-div.header-bgcolor .full-navigation .ullist-inline li .nav-link {
    min-height: 50px;
  }
  .header-div.clearfix.scrollUp {
    min-height: auto !important;
  }
  .header-div.clearfix.scrollUp .inner-top-header-div {
    display: none !important;
  }
  header .header-div .ullist-inline::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }
  header .header-div .ullist-inline::-webkit-scrollbar {
    width: 5px;
    height: 2px;
    background-color: #F5F5F5;
  }
  header .header-div .ullist-inline::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
  }
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1180px;
    zoom: 85%;
  }
  .container .container {
    zoom: 100%;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  /* navigation */
  header .header-div {
    min-height: 70px;
  }
  header .header-div.header-bgcolor {
    min-height: 70px;
  }
  header .header-div .nav-center-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .logo-div .logo_link {
    width: 160px;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 100%;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.8s left;
    transition: 0.8s left;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #5AB9E9;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    font-size: 36px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 5px;
    margin-right: 5px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #5AB9E9;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .mobile-view-data .header-right-div {
    display: block !important;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .header-div .mobile-view-data .user-details-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgba(31, 32, 39, 0.1);
    margin: 0 0 20px 0;
  }
  header .header-div .mobile-view-data .category-div {
    display: none !important;
  }
  header .header-div .mobile-view-data .dropdown.dropdown-50 {
    min-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px;
  }
  header .header-div .mobile-view-data .dropdown-custom-top .btn.dropdown-toggle::after {
    right: 0px;
    top: 15px;
  }
  header .header-div .mobile-view-data .dropdown-custom-top .btn.dropdown-toggle {
    display: block;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .header-div .width80 {
    width: 100%;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .full-navigation {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-div .full-navigation .col-lg-12.col-md-12 {
    padding: 0;
  }
  header .header-div .logo_img {
    width: 130px;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    display: none;
  }
  header .header-div .inner-top-header-div {
    min-height: 70px;
  }
  header .header-div .logo-div {
    padding: 5px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #5AB9E9;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #5AB9E9 !important;
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #5AB9E9 !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .ullist-inline li.myaccount-count {
    margin: 20px 0 0 0;
  }
  header .header-div .btn.btn-gradiant2.btn-mycart {
    margin: 0 !important;
    border-radius: 0px;
    max-width: 100%;
  }
  header .header-div.scrollUp {
    -webkit-transform: initial;
            transform: initial;
  }
  header .category-view-div {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div.header-bgcolor {
    min-height: auto !important;
  }
  header .header-div.header-bgcolor .inner-top-header-div {
    min-height: auto;
  }
  header .header-div.header-bgcolor .header-container {
    display: none !important;
  }
  header .header-div.header-bgcolor .category-view-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99999;
    position: relative;
  }
  header .header-div.clearfix.scrollUp {
    min-height: auto !important;
  }
  header .header-div.clearfix.scrollUp .inner-top-header-div {
    min-height: auto;
  }
  header .header-div.clearfix.scrollUp .header-container {
    display: none !important;
  }
  header .header-div.clearfix.scrollUp .category-view-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99999;
    position: relative;
  }
  /* end of navigation */
  .position-fixed {
    overflow: hidden;
  }
  .heading-div h2 {
    font-size: 28px;
  }
  .heading-div p {
    font-size: 16px;
  }
  .about-section .about-div .about-info-desc p {
    font-size: 16px;
    line-height: 26px;
  }
  .about-section .about-div .about-info-desc p .readmore-btn {
    font-size: 16px;
    line-height: 26px;
  }
  footer .footer-root .footer-div .logo-footer {
    min-height: auto;
  }
  footer .footer-root .footer-div .logo-footer .img-fluid.img-footerpattern {
    margin: 0px 0 0 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  footer .footer-root .footer-div .logo-footer .footerlogo-link {
    position: relative;
    top: auto;
    left: auto;
  }
  footer .footer-root .footer-bottom {
    min-height: auto;
    padding: 10px 0 30px 0;
  }
  .return-to-top {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  .return-to-top i {
    font-size: 14px !important;
  }
  /* inner pages */
  .whitecard-box-top .white-crad-inner .form-locator.order-locator {
    padding: 30px 10px 10px 10px;
    border-top: none !important;
  }
  /* End of inner pages */
  .banner-section {
    background-color: #EAEFF2;
  }
  .img-slider-container .content-banner {
    padding: 60px 0px 15px 0px;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .img-slider-container .content-banner h4 {
    font-size: 24px;
  }
  .img-slider-container .content-banner h3 {
    font-size: 24px;
  }
  .img-slider-container .content-banner .btn-row {
    padding: 20px 0 30px 0;
    width: 100%;
  }
  .img-slider-container .banner-slider-item .banner-img {
    width: 100%;
    max-width: 100%;
    max-height: 375px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .img-slider-container .owl-carousel-slider .owl-dots {
    width: 100%;
    right: 0;
  }
  .img-slider-container .owl-carousel-slider .owl-nav .owl-prev {
    left: 0;
    top: auto;
    bottom: 220px;
  }
  .img-slider-container .owl-carousel-slider .owl-nav .owl-next {
    right: 0;
    top: auto;
    bottom: 220px;
  }
  .img-slider-container .banner-slider-root {
    padding: 20px 0 80px 30px;
  }
  /*  */
  .btn.btn-primary {
    font-size: 16px;
    min-height: 40px;
    padding: 6px 15px;
  }
  .btn.btn-primary .fe.fe-arrow-right {
    padding: 0 0 0 10px;
    font-size: 16px;
  }
  .btn.btn-white {
    font-size: 16px;
    min-height: 40px;
    padding: 6px 15px;
  }
  .btn.btn-white .fe.fe-arrow-right {
    padding: 0 0 0 10px;
    font-size: 16px;
  }
  .btn.btn-message {
    font-size: 16px;
    min-height: 40px;
    padding: 6px 15px;
  }
  .offers-card-box {
    padding: 30px 0 !important;
    border-bottom: 1px solid rgba(31, 32, 39, 0.1);
  }
  .offers-card-box h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .offers-card-box h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .offers-card-box h4 {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0 0 0;
    min-height: auto;
  }
  .offers-card-box p {
    font-size: 18px;
    line-height: 24px;
  }
  .offers-card-box .img-round-thumb {
    width: 100px;
  }
  .offers-card-box .offers-content-div {
    padding: 0 0 0 15px;
    width: calc(100% - 100px);
  }
  .view-offers-section .view-offers-div .border-right01:nth-child(odd) {
    border-right: 0px solid rgba(31, 32, 39, 0.1);
  }
  .view-offers-section .view-offers-div .border-right01:last-child .offers-card-box {
    border: none;
  }
  .products-section .products-div {
    padding: 0px 0 30px 0;
  }
  .products-container .nav.nav-tabs .nav-tabs .nav-item {
    margin-bottom: 0;
  }
  .products-container .nav.nav-tabs .nav-link {
    font-size: 13px;
    min-height: 42px;
    padding: 10px 10px;
  }
  .services-section .services-div {
    padding: 30px 0;
    border-top: 1px solid #E4E4E4;
  }
  .services-section .services-div .card3-border .services-card {
    padding: 10px 0px 20px 0px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid rgba(31, 32, 39, 0.1);
  }
  .services-section .services-div .card3-border .services-card h4 {
    font-size: 16px;
    line-height: 24px;
  }
  .services-section .services-div .card3-border .services-card p {
    font-size: 12px;
    line-height: 18px;
  }
  .services-section .services-div .card3-border .services-card a {
    font-size: 12px;
    line-height: 18px;
  }
  .services-section .services-div .card3-border .services-card:last-child {
    border-bottom: none;
  }
  .services-section .services-div .card3-border:nth-child(2) .services-card:before {
    display: none;
  }
  .about-section .about-div {
    padding: 60px 0;
  }
  .about-section .about-div .about-content-div h2 {
    margin: 0 0 25px 0;
    font-size: 28px;
  }
  .about-section .about-div .about-content-div p {
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .about-section .about-div .about-content-div .text-underline {
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 24px;
  }
  footer .footer-root .footer-div {
    padding: 60px 0 30px 0;
  }
  footer .footer-root .footer-div .footer-div-row {
    margin: 0 0 10px 0;
  }
  footer .footer-root .footer-div p {
    font-size: 16px;
    line-height: 28px;
  }
  footer .footer-root .footer-div .img-footerlogo {
    width: 130px;
  }
  footer .footer-root .footer-div .link-footer {
    font-size: 16px;
    line-height: 28px;
  }
  footer .footer-root .footer-div .footer-content-div {
    margin: 0 0 20px 0;
  }
  footer .footer-root .footer-div .footer-list-root {
    margin: 0 0 0px 0;
  }
  footer .footer-root .footer-div .footer-list-root h5 {
    font-size: 18px;
    line-height: 24px;
  }
  footer .footer-root .footer-div .contact-link-row .link-footer .material-icons {
    line-height: 28px;
    margin: 2px 12px 0 0;
    font-size: 18px;
  }
  footer .footer-root .footer-div .footer-list-root ul.footer-ul li {
    margin: 0 0 4px 0;
  }
  footer .footer-root .footer-bottom p {
    font-size: 16px;
    line-height: 28px;
  }
  footer .footer-root .footer-bottom ul.footer-social-ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer-root .footer-bottom ul.footer-social-ul li a .card-icon {
    width: 40px;
  }
  header .header-div .mobile-view-data .dropdown-menu:before {
    display: none;
  }
}

@media (min-width: 319px) and (max-width: 340px) {
  .img-slider-container .content-banner h4 {
    font-size: 21px;
  }
  .img-slider-container .content-banner h3 {
    font-size: 21px;
  }
  .img-slider-container .owl-carousel-slider .owl-nav .owl-prev {
    bottom: 180px;
  }
  .img-slider-container .owl-carousel-slider .owl-nav .owl-next {
    bottom: 180px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  /* navigation */
  header .header-div {
    min-height: 70px;
  }
  header .header-div.header-bgcolor {
    min-height: 70px;
  }
  header .header-div .nav-center-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .logo-div .logo_link {
    width: 160px;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: -500px;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.8s right;
    transition: 0.8s right;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #5AB9E9;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    font-size: 36px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 5px;
    margin-right: 5px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #5AB9E9;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .category-view-div {
    position: absolute;
    top: -60px;
    right: 100px;
    width: 400px;
  }
  header .header-div .mobile-view-data .header-right-div {
    display: block !important;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .header-div .mobile-view-data .user-details-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px 0 20px 0;
  }
  header .header-div .mobile-view-data .dropdown.dropdown-50 {
    min-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px;
  }
  header .header-div .mobile-view-data .dropdown-custom-top .btn.dropdown-toggle::after {
    right: 0px;
    top: 15px;
  }
  header .header-div .mobile-view-data .dropdown-custom-top .btn.dropdown-toggle {
    display: block;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .header-div .mobile-view-data .category-div {
    display: none !important;
  }
  header .header-div .width80 {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .full-navigation {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-div .full-navigation .col-lg-12.col-md-12 {
    padding: 0;
  }
  header .header-div .logo_img {
    width: 130px;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    display: none;
  }
  header .header-div .inner-top-header-div {
    min-height: 70px;
  }
  header .header-div .logo-div {
    padding: 5px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #5AB9E9;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #5AB9E9 !important;
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #5AB9E9 !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .ullist-inline li.myaccount-count {
    margin: 20px 0 0 0;
  }
  header .header-div .btn.btn-gradiant2.btn-mycart {
    margin: 0 !important;
    border-radius: 0px;
    max-width: 100%;
  }
  header .header-div.scrollUp {
    -webkit-transform: initial;
            transform: initial;
  }
  /* end of navigation */
  .position-fixed {
    overflow: hidden;
  }
  .heading-div h2 {
    font-size: 28px;
  }
  .heading-div p {
    font-size: 16px;
  }
  .about-section .about-div .about-info-desc p {
    font-size: 16px;
    line-height: 26px;
  }
  .about-section .about-div .about-info-desc p .readmore-btn {
    font-size: 16px;
    line-height: 26px;
  }
  footer .footer-root .footer-div .logo-footer {
    min-height: auto;
  }
  footer .footer-root .footer-div .logo-footer .img-fluid.img-footerpattern {
    margin: 0px 0 0 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  footer .footer-root .footer-div .logo-footer .footerlogo-link {
    position: relative;
    top: auto;
    left: auto;
  }
  footer .footer-root .footer-bottom {
    min-height: auto;
    padding: 0px 0 10px 0;
  }
  .return-to-top {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  .return-to-top i {
    font-size: 14px !important;
  }
  /* inner pages */
  .whitecard-box-top .white-crad-inner .form-locator.order-locator {
    padding: 30px 10px 10px 10px;
    border-top: none !important;
  }
  /* End of inner pages */
  .banner-section {
    background-color: #EAEFF2;
  }
  .img-slider-container .content-banner {
    padding: 30px 10px 30px 50px;
  }
  .img-slider-container .content-banner h4 {
    font-size: 24px;
  }
  .img-slider-container .content-banner h3 {
    font-size: 24px;
  }
  .img-slider-container .content-banner .btn-row {
    padding: 20px 0 30px 0;
    width: 100%;
  }
  .img-slider-container .owl-carousel-slider .owl-dots {
    right: 40px;
    bottom: 20px;
  }
  .img-slider-container .owl-carousel-slider .owl-nav .owl-prev {
    left: 0;
  }
  .img-slider-container .owl-carousel-slider .owl-nav .owl-next {
    right: 0;
  }
  .img-slider-container .banner-slider-root {
    padding: 20px 0 20px 0;
    min-height: 480px;
  }
  /*  */
  .btn.btn-white {
    font-size: 16px;
    min-height: 40px;
    padding: 6px 15px;
  }
  .btn.btn-white .fe.fe-arrow-right {
    padding: 0 0 0 10px;
    font-size: 16px;
  }
  .btn.btn-message {
    font-size: 16px;
    min-height: 40px;
    padding: 6px 15px;
  }
  .offers-card-box {
    padding: 30px 0 !important;
    border-bottom: 0px solid rgba(31, 32, 39, 0.1);
    border-right: 1px solid rgba(31, 32, 39, 0.1);
  }
  .offers-card-box h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .offers-card-box h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .offers-card-box h4 {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0 0px 0;
    min-height: 66px;
  }
  .offers-card-box p {
    font-size: 18px;
    line-height: 24px;
  }
  .offers-card-box .img-round-thumb {
    width: 100px;
  }
  .offers-card-box .offers-content-div {
    padding: 0 0 0 15px;
    width: calc(100% - 100px);
  }
  .view-offers-section .view-offers-div .border-right01:nth-child(odd) {
    border-right: 0px solid rgba(31, 32, 39, 0.1);
  }
  .view-offers-section .view-offers-div .border-right01:last-child .offers-card-box {
    border: none;
  }
  .products-section .products-div {
    padding: 0px 0 30px 0;
  }
  .services-section .services-div {
    padding: 30px 0;
    border-top: 1px solid #E4E4E4;
  }
  .services-section .services-div .card3-border .services-card {
    padding: 10px 0px 20px 0px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid rgba(31, 32, 39, 0.1);
  }
  .services-section .services-div .card3-border .services-card h4 {
    font-size: 16px;
    line-height: 24px;
  }
  .services-section .services-div .card3-border .services-card p {
    font-size: 12px;
    line-height: 18px;
  }
  .services-section .services-div .card3-border .services-card a {
    font-size: 12px;
    line-height: 18px;
  }
  .services-section .services-div .card3-border .services-card:last-child {
    border-bottom: none;
  }
  .about-section .about-div {
    padding: 60px 0;
  }
  .about-section .about-div .about-content-div h2 {
    margin: 0 0 25px 0;
    font-size: 28px;
  }
  .about-section .about-div .about-content-div p {
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .about-section .about-div .about-content-div .text-underline {
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 24px;
  }
  footer .footer-root .footer-div {
    padding: 60px 0 30px 0;
  }
  footer .footer-root .footer-div .footer-div-row {
    margin: 0 0 10px 0;
  }
  footer .footer-root .footer-div p {
    font-size: 16px;
    line-height: 28px;
  }
  footer .footer-root .footer-div .img-footerlogo {
    width: 130px;
  }
  footer .footer-root .footer-div .link-footer {
    font-size: 16px;
    line-height: 28px;
  }
  footer .footer-root .footer-div .footer-content-div {
    margin: 0 0 20px 0;
  }
  footer .footer-root .footer-div .footer-list-root {
    margin: 0 0 0px 0;
  }
  footer .footer-root .footer-div .footer-list-root h5 {
    font-size: 16px;
    line-height: 24px;
  }
  footer .footer-root .footer-div .contact-link-row .link-footer .material-icons {
    line-height: 28px;
    margin: 2px 12px 0 0;
    font-size: 18px;
  }
  footer .footer-root .footer-div .footer-list-root ul.footer-ul li {
    margin: 0 0 4px 0;
  }
  footer .footer-root .footer-bottom p {
    font-size: 16px;
    line-height: 28px;
  }
  footer .footer-root .footer-bottom ul.footer-social-ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer .footer-root .footer-bottom ul.footer-social-ul li a .card-icon {
    width: 45px;
  }
  /* inner pages */
  header .header-div .mobile-view-data .dropdown-menu:before {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .mobile-view-data .header-right-div .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    max-width: 0%;
  }
  .mobile-view-data .header-right-div .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .mobile-view-data .header-right-div .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    max-width: 0%;
  }
  .mobile-view-data .header-right-div .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */